@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --background: #FEEDC9; 
  --foreground: #171717;
}

body {
  margin: 0;
  background: var(--background);
  font-family: var(--font-plus-jakarta-sans);
}

#card-receita {
  display: flex;
  background-color: #42210B;
  width: 350px;
  height: 450px;
  border-radius: 46px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-items: center;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  gap: 10px;
  cursor: pointer;
}

#card-receita:hover {
  background-color: #42210B;
  opacity: 0.9;
}

#img-receita {
  border-radius: 40px;
}

#title-receita {
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 46px;
  border-top: 2px solid #FEEDC9;
  font-size: 25px;
  color: #FDF3DD;
  font-weight: bold;
  word-break: break-word;
}

#footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8%;
  color: #171717;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#img-footer {
  width: 100%;
  height: 100%;
}

#text-footer {
  padding: 2%;
  font-size: 20px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track { 
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF9999; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

#img-header {
  width: 100%;
  height: 100%;
}